*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
    font-family:'poppins', sans-serif;

}
header{
    text-align: center;
}
.imagen-hero{
    background-size: contain;
    img{
        background-repeat: no-repeat;
        background-position: center;
    }

}
.boton-contactar{
    
    padding: 10px;
    margin: 5px;
    background-color: #0171a1;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;

}

.titulo{
    
    .titulo-span{
        
        font-size: 40px;
        color: #ffd000;
    }
}
.nav{
    background-color: #169BD4;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
    transition: .3s ease-in;
    
}
.nav-link:hover{
    background: #0171a1;
    font-size: 20px;
    transform: scale(.10);
}
a{
    text-decoration: none;
    color: white;
    
}